h1 {
  text-align: center;
}
.cities {
  margin: 0 auto;
  display: flex;
  width: 1000px;
  justify-content: space-around;
  gap: 10px;
}

.wrapper {
  margin: 0 auto;
  padding-top: 100px;
  width: 1000px;
  text-align: center;
}
.city {
  font-size: 40px;
  font-weight: 900;
}
.temp {
  font-size: 44px;
}
.weather {
  font-size: 36px;
}

.citySelector {
  font-size: 18px;
  width: 250px;
  height: 40px;
}
